*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#header .row img{
    height: 15px;
    margin: 0px 5px;
}

#header .row a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    align-items: center;
    font-weight: bold;
    margin-right: 2rem;
}

#find form select{
    background-image: url("./img/search.png");
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 25px;
    padding-left: 50px!important;
}

form, select, input, button{
    height: 50px;
    width: 100%;
}
button img{
    width: 25px;
    color: black;
}
button, input[image]{
    border: none;
    background-color: transparent;
}
.hover ul li a:hover{
    color: cadetblue;
    border-bottom: 2px solid black;
;
}
.d-flex{
    display: flex;
}
#mainsearch{
    padding-left: 20px;
}
#list ul{
    list-style: none;
}
#list ul li{
    display: inline-block;
    margin-left: 15px;
}
#list a{
    text-decoration: none;
    color: black;
}
#advertise img{
    object-fit: cover;
    width: 100%;
    height: 250px;
}

#advertise2 img{
    object-fit: cover;
    width: 100%;
    height: 100px;
}


#products .row .col-lg-3 .card{ 
    height: 95%!important;
    padding-bottom: 5%!important;
}

#products .card img{
    height: 150px;
    object-fit: cover;
}
.show button{
    margin: 20px auto;
    width: 10%;
}
.show button:focus ~ .hide
{
    display: flex;
 }

.hide
{display: none;}



footer{
    background-color: lightgray;
}
footer ul li{
    list-style: none;
}
footer ul li:first-child > a{
    font-weight: bold;
    color: black!important;
    cursor: initial;
}

footer ul li a{
    text-decoration: none;
    color: gray;
    font-size: smaller;
}
footer ul li a:hover{
    color: black;
}
#all-cat a:hover ~ .hide{
    background-color: white;
    position: absolute;
    top: 145px;
    left: 50px;
    right: 50px;
    display: flex;
}
#all-cat ul li{
    display: flex;
    flex-direction: column;
    list-style: none;
}

#all-cat ul li a{
    color: gray;
    margin: 5px 0px;
    flex-direction: column;
}
#all-cat ul li a:hover{
    color: black;
}
footer address{
    color: white;
    text-align: center;
}













/* @media (min-width: 1400px) {
.xxl{

}}
@media (min-width: 1200px) and (max-width: 1399px){
.xl{

}}
@media (min-width: 992px) and (max-width: 1199px){
.lg{

}}
@media (min-width: 768px) and (max-width: 991px){
.md{
}}
@media (min-width: 577px) and (max-width: 767px){
.d-sm-none{
}}
@media (min-width: 0px) and (max-width: 576px){
.d-xs-none{
    }} */